.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*地图*/
.map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px;
}

/*筛选*/
.markerfilter {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  text-align: center;
}

.markerfilter h1 {
  font-size: 20px;
}

.markerfilter li {
  font-size: 16px;
}
